body{
	background: radial-gradient(#484343, #262121);	
}
table{
	font-family: 'Nunito', sans-serif;
	background: #bf0010;
	color: #f9e4b7;
	width: 40%;
	border-radius: 10px;
	margin: auto;
	font-size: 12pt;
	transition: 1s;
}
button{
	width: 100%;
	height: 50px;
	background:  #f9e4b7;
	font-size: 12pt;
	color: #bf0010;
	border-radius: 2px;
	border:0;
}
button:focus{
	transition: 1s;
	color: #f9e4b7;
	background: #ae0000;
}